version: '3.1'
services:
  traefik:
    image: traefik:v2.0
    restart: always
    container_name: traefik
    ports:
      - 80:80
      - 443:443
    depends_on:
      - hnfaves
    volumes:
      - ./deploy/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./deploy/rules:/etc/traefik/rules
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: "3"
  app:
    image: figassis/hnfaves:0.0.3
    restart: always
    environment: 
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      REDIS_TLS: "false"
      REQUESTS_PER_SECOND: 3
      TOKEN: ${TOKEN}
      CACHE: "true"
    volumes:
        - ./cache:/cache
    depends_on:
      - redis
    logging:
      driver: "json-file"
      options:
          max-size: "10M"
          max-file: "3"
  redis:
    image: "redis:alpine"
    container_name: redis
    restart: always
    logging:
      driver: "json-file"
      options:
          max-size: "10M"
          max-file: "3"
  monitor:
    restart: always
    hostname: monitor.hnfaves.com
    container_name: netdata
    image: netdata/netdata:latest
    environment: 
      PGID: 999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: "3"