version: '3.1'
services:
  covidfree:
    build: .
    container_name: hnfaves
    restart: always
    ports:
      - "${HOST_PORT}:${APP_PORT}"
    environment: 
      APP_PORT: ${APP_PORT}
      REDIS_HOST: ${REDIS_CONTAINER_NAME}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
      REDIS_TLS: ${REDIS_TLS}
      REQUESTS_PER_SECOND: ${REQUESTS_PER_SECOND}
    volumes:
        - cache: /cache
    logging:
      driver: "json-file"
      options:
          max-size: "10M"
          max-file: "3"
volumes:
  cache: